*{
    margin: 0;
    padding: 0;
}
body{
    font: 14px isans;
    direction: rtl;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.container{
    background-color: #fff !important;
    width:100%;
    height:100%;
    position: fixed;
    padding: 0;
}

@font-face {
font-family: "FontAwesome";
font-weight: normal;
    font-display: auto;
font-style: normal;
src: url("fontawesome-webfont.woff2") format("woff2");
} 

@font-face {
    font-family: isans;
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/eot/IRANSansWeb_Bold.eot');
    src: url('../fonts/eot/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/woff2/IRANSansWeb_Bold.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/woff/IRANSansWeb_Bold.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/ttf/IRANSansWeb_Bold.ttf') format('truetype');
}

@font-face {
    font-family: isans;
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/eot/IRANSansWeb_Medium.eot');
    src: url('../fonts/eot/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/woff2/IRANSansWeb_Medium.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/woff/IRANSansWeb_Medium.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/ttf/IRANSansWeb_Medium.ttf') format('truetype');
}

@font-face {
    font-family: isans;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/eot/IRANSansWeb_Light.eot');
    src: url('../fonts/eot/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/woff2/IRANSansWeb_Light.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/woff/IRANSansWeb_Light.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/ttf/IRANSansWeb_Light.ttf') format('truetype');
}

@font-face {
    font-family: isans;
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/eot/IRANSansWeb_UltraLight.eot');
    src: url('../fonts/eot/IRANSansWeb_UltraLight.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/woff2/IRANSansWeb_UltraLight.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/woff/IRANSansWeb_UltraLight.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/ttf/IRANSansWeb_UltraLight.ttf') format('truetype');
}

@font-face {
    font-family: isans;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/eot/IRANSansWeb.eot');
    src: url('../fonts/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/woff2/IRANSansWeb.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/woff/IRANSansWeb.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/ttf/IRANSansWeb.ttf') format('truetype');
}

.wrapper{
    height: 500px;
    width: 25%;
    display: block;
    border-radius: 6px;
    margin: 20px auto;
    background:-webkit-linear-gradient(top,#7579ff,#b224ef);
    background: linear-gradient(top,#7579ff,#b224ef);
}

@media(max-width:768px){
    .wrapper{
        width: 80% !important;
    }
    #register-img h1{
        font-size: 26px !important;
    }
}
#login-img, #register-img{
    color: #fff;
    font-size: 70px;
    display: block;
}
.reg-wrapper #user-div{
    margin-top: 15px;
}
#register-img{
    font-size: 60px;    
}
#login-img i{
    margin: 0 37%;

}
#register-img i{
    display: block;
    text-align: center;

}
#login-img h1 {
    margin: -20px 38%;
    user-select: none;
}
#register-img h1 {
    user-select: none;
    font-size: 20px;
    text-align: center;
}
#login-form , #register-form{
    display: block;
    margin: 0 auto;
    width: 85%;
}

.input-div i{
    color: #fff;
    font-size: 20px;
}

.input-div input {
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    width: 90%;
    float: left;
    transition: all 0.35s;
}
.input-div input::placeholder{
    color: #fff;
    
}


#icon-holder-user, #icon-holder-pass, #icon-holder-email, #icon-holder-displayname{
    padding: 0 0 0 7px;
    position: absolute;
    transition: all 0.4s;
    right: 0;
}
#icon-holder-email i {
    font-size: 15px;
}
#icon-holder-displayname i {
    font-size: 17px;
}
.input-div{
    position: relative;
    margin-top: 45px;
}
.input-div::before{
    content: "";
    height: 2px;
    width: 100%;
    background-color: #fff;
    position: absolute;
    margin-top: 30px;
    opacity: 0.3;
    transition: all 0.4s;
    transform: scaleX(0);
    transform-origin: right;
    right: 0;
}
.input-div::after{
    content: "";
    height: 2px;
    width: 100%;
    background-color: #fff;
    position: absolute;
    margin-top: 30px;
    opacity: 0.1;
    right: 0;
}
#username-input:focus {
    width: 100%;
}
#password-input:focus {
    width: 100%;
}
#email-input:focus {
    width: 100%;
}
#displayname-input:focus{
    width: 100%;
}
.opacity-fill::before {
    opacity: 1;
    transform: scaleX(1);
}
.clear{
    clear:both;
}
.remember{
    margin-top: 25px;
    color: #fff;
}
.remember label {
    user-select: none;
    font-weight: 400;
}
#sub-btn{
    display: block;
    margin: 0 auto;
    width: 100px;
    margin-top: 15px;
    border: none;
    padding: 5px;
    border-radius: 34px;
    outline: none;
    position: relative;
    color: #fff;
    background-color: transparent;
    margin-bottom: 0 !important;
}
.reg-btn{
    margin-top: 30px !important;
    margin-bottom: 35px !important;
}

#sub-btn::after, #sub-btn::before{
    content: "";
    height: 2px;
    width: 100%;
    background-color: #fff;
    position: absolute;
    transition: all 0.4s;
    right: 0;
    bottom: 0;
    transition: all 0.6s ease;

}
#sub-btn::after{
    transform: scale(0);
    transform-origin: bottom;
    
}
#sub-btn:hover::after{
    top: 0;
    transform: scale(1);

}
#sub-btn:focus:after{
    top: 0;
    transform: scale(1);

}


.line{
    width: 90%;
    height: 1px;
    background: linear-gradient(to bottom, rgba(255,255,255,0.6),rgba(255,255,255,0.09) , transparent);
    margin-top: 20px;
    z-index: 1;
    margin: 0 auto;
    margin-top: 20px;
}

.inner-line{
    background: linear-gradient(to right, transparent, rgba(255,255,255,0.9), transparent);
    height: 1px;
    z-index: 2;
    display: block;
    width: 100%;
}

a#login , a#register{
    color: #fff;
    text-align: center;
    display: block;
    margin-top: 10px;
    text-decoration: none;
}

.reg-wrapper{
    height: auto;
    padding-bottom: 30px;
    margin-top: 10px;
}


#profilepic-input::-webkit-file-upload-button {
    visibility: hidden;

}
#profilepic-input{
    display: none;
}
#profilepic-div::after{
display: none;
}
#icon-holder-profilepic i {
    font-size: 16px;
}
#icon-holder-profilepic{
    color: #fff;
    float: right;
    margin-right: 7px;
    margin-top: 15px;
}
#profilepic-div label{
    color: #fff;
    font-weight: 400;
    cursor: pointer;
    display: block;
}

#icon-holder-profilepic i{
    float: right;
    margin-left: 10px;
}


#profilepic-div{
    margin-top: 25px;
}



/* plugin  */


.label {
    cursor: pointer;
}

.progress {
display: none;
margin-bottom: 1rem;
}

.alert {
display: none;
}

.img-container img {
max-width: 100%;
}
.modal-backdrop.show{
    z-index: -1;
}

.rounded{
    width: 50px;
    height: 50px;
    float: right;
}

.modal-backdrop{
width: 0;
height: 0;
display: none;
}
@media (min-width: 1200px){
    .container {
        max-width: 2000px !important;
    }
}
.modal-header .close{
    margin-left: 0;
}
.modal-footer{
    display: block;
}
#crop{
    float: right;
}
  /* plugin  */

.header{
    background-color: #fff;
    padding: 5px;
    box-shadow: 0 1px 2px #ccc;
}
#sitename{
    margin: 0 5px 0 10px;
}
.site-name a{
    color: #1b1b1b;
    float: right;
    font-size: 22px;
}
.header-widget {
    position: relative;
}
.header-widget span {
    display: inline-block;
    text-align: right;
}
.header-widget ul {
    width: auto;
    position: absolute;
    top: 40px;
    left: 0;
    background-color: #fff;
    padding: 5px;
    text-align: right;
    box-shadow: 0 0 2px 0 #000;
    border-radius: 3px;
    display: none;
}


.header-widget ul li {
    list-style: none;
    margin: 5px 0;
    padding-left: 30px;
}

.header-widget ul li a {
    text-decoration: none;
    color: #2b2b2b;
}

.header-widget i {
    position: absolute;
    left: 10px;
    top: 8px;
    transition: all 0.3s;
}
#profile-pic{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-left: 25px;
    user-select: none;
}

.profile-pic{
    display: inline-block;
}

#register-form #displayname-div,#register-form #pass-div{
    margin-top: 7px;
}
.err{
    text-align: right;
    margin-top: 13px;
    color: #f58989;
    visibility: hidden;
}
.err-log{
    text-align: right;
    margin-top: 20px;
    color: #64b5f6;
    padding: 0 10px;
    visibility: hidden;
}
.err-log i {
    font-size: 15px;
    padding: 0 5px;
}
.login-line{
    margin: 15px auto;

}


.user-table{
    text-align: right;
    width: 70%;
    margin: 0 auto;
    margin-top: 40px;
    box-shadow: 0 0 1px 0 #000000;
    overflow: hidden;
}
@media(max-width:440px){
    .user-table{
        width: 80%;
    }
}
@media(max-width:370px){
    .user-table{
        width: 90%;
    }
}
@media(max-width:330px){
    .user-table{
        width: 98%;
    }
    .user-table th {
        font-size: 12px;
    }


}
.user-table img {
    width: 32px;
    height: 32px;
    margin: 0 5px;
    border-radius: 30px;
}
.user-table button {
    box-shadow: none;
    outline: none;
    font-size: 11px;
    padding: 4px;
}
.btn-primary:focus {
    box-shadow: none !important;
}
@media (min-width: 768px){
    .container {
        max-width: none;
    }
}

@media (min-width: 576px){
    .container {
        max-width: none;
    }
}

.user-table span.badge{
    padding: 5px;
}
.user-table th {
    padding: 10px;
}




@media(max-width:1030px){
    .reg-wrapper{
        width: 30%;
    }
}
@media(max-width:1100px){
    .reg-wrapper{
        width: 35%;
    }
}
@media(max-width:1000px){
    .log-wrapper{
        width: 30%;
    }
}
@media(max-width:850px){
    .wrapper{
        width: 40%;
    }
}

@media(max-width:768px){
    .wrapper{
        width: 50% !important;
    }
    #register-img h1 {
        font-size: 18px !important;
    }
    #edit-profile-link{
        display: block !important;
    }
    #edit-profile{
        display: none;
    }
}
@media(max-width:620px){
    .reg-wrapper{
        width: 60% !important;
    }
}
@media(max-width:460px){
    .wrapper{
        width: 85% !important;
        margin-top: 10px;
    }
}



@media(max-width:280px){
    .wrapper{
        width: 95% !important;
    }
}



.loading{
    align-items: center;
    display: flex;
    position: absolute;
    padding: 15px 0;
    left: 38%;
    visibility: hidden;
}

.loading .obj{
    background-color: #fff;
    height: 35px;
    width: 4px;
    border-radius: 10px;
    float: right;
    margin: 0 2px;
    animation:load .8s infinite;
}
#login-form{
    position: relative;
}
.obj:nth-child(2){
    animation-delay: 0.1s;
}
.obj:nth-child(3){
    animation-delay: 0.2s;
}
.obj:nth-child(4){
    animation-delay: 0.3s;
}
.obj:nth-child(5){
    animation-delay: 0.4s;
}
.obj:nth-child(6){
    animation-delay: 0.5s;
}
.obj:nth-child(7){
    animation-delay: 0.6s;
}
.obj:nth-child(8){
    animation-delay: 0.7s;
}


@keyframes load{
    0%{
        height: 0; 
    }
    50%{
        height: 35px;
    }
    100%{
        height: 0;
    }
}



#register-form{
    position: relative;
    margin-bottom: 60px;
}


.fetch-displayname{
    margin-right: 20px;
}

.displayname-link{
    color: #2f2f2f;
}
.displayname-link:hover{
    color: #747474;

}

#edit-profile-link{
    display: none;
}

.dialog{
    border: 1px solid #000;
    background-color: #fff;
}

.ui-widget .ui-widget{
    outline: none;
}
.chat-box{
    width: 100% !important;
}
.chat-history{
    height: 300px;
    overflow-y: scroll;
    box-shadow: 0 0 2px 0 #000;
    margin-bottom: 10px;
    padding: 10px;
}

.ui-draggable .ui-dialog-titlebar{
    font: 14px isans;
    text-align: right;
}
.send-chat{
    font: 14px isans !important;
}
textarea.form-control{
    font: 14px isans;
}
textarea.form-control:focus{
    outline: none;
    box-shadow: none;
}